<!--A Design by MarsPlat
Author: MarsPlat
Author URL: http://MarsPlat.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>	MarsPlat - 为开发者提供便利服务 </title>
<link href="/static/index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/index/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="MarsPlat Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/static/index/js/move-top.js"></script>
<script type="text/javascript" src="/static/index/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

</head>
<body>
<!--header-->
	<div class="header" id="home">
		<div class="container">
			<div class="logo">
				<h1><a href="/"><img src="/static/index/images/logo.png" alt=""></a></h1>
			</div>
			<div class="header-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="#home" class="scroll">Home</a></li>
						<li><a href="#services" class="scroll"> Services</a></li>
						<li><a href="#portfolio" class="scroll">Portfolio </a></li>
						<li><a href="blog" >Blog</a></li>
						<li><a href="contact">contact</a></li>
					</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
			 <!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="/static/index/js/classie.js"></script>
			 <script src="/static/index/js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->

			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
		</div>
	</div>
	<!---->

	<div class="container">
		<div class="banner">
			<div class="banner-matter">
				<h2>Creative Ideas Live Here</h2>
				<p>Aliquam suscipit vel nulla quis eleifend. Maecenas vitae tristique ante. Sed sit amet vehicula libero.</p>
			 </div>
			<div class="tv">
				<img class="img-responsive" src="/static/index/images/tv.png" alt="">
			</div>
				 <div class="clearfix"> </div>
		</div>
	</div>
	<!---->
	<div class="container">
	<div class="works" id="portfolio">
			<div class=" port-top">
				<h3 class="port">Latest Works</h3>
					<ul id="filters">
						<li class="active"><span class="filter " data-filter="app card icon set sit web">All</span></li>
						<li><span class="filter" data-filter="app">WEB</span></li>
						<li><span class="filter" data-filter="card"> MOBILE </span></li>
						<li><span class="filter" data-filter="icon"> PHOTOGRAPHY</span></li>
						<li><span class="filter" data-filter="set"> DESIGN</span></li>
						<li><span class="filter" data-filter="add"> TYPE</span></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
					<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">
							<a href="single" class="b-link-stripe b-animate-go">
						    <img class="img-responsive" src="/static/index/images/pi.jpg" alt=""  />
								<div class="b-wrapper">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>
						</a>
						</div>
					</div>
					<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="single" class="b-link-stripe b-animate-go">
						    <img class="img-responsive" src="/static/index/images/pi1.jpg" alt=""  />
						   	<div class="b-wrapper" class="b-link-stripe b-animate-go">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>
						</a>

		                </div>
					</div>
					<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="single" class="b-link-stripe b-animate-go">
						     <img class="img-responsive" src="/static/index/images/pi2.jpg"  alt="" />
						     <div class="b-wrapper">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>
						</a>

		                </div>
					</div>
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">
							<a href="single" class="b-link-stripe b-animate-go">
						     <img class="img-responsive" src="/static/index/images/pi3.jpg" alt=""  />
						     <div class="b-wrapper">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>
						</a>
	            </div>
					</div>
					<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper ">
							<a href="single" class="b-link-stripe b-animate-go">
						     <img class="img-responsive" src="/static/index/images/pi4.jpg" alt=""  />
						    	<div class="b-wrapper">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>
						</a>

		                </div>
					</div>
					<div class="portfolio set mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="single" class="b-link-stripe b-animate-go">
						     <img class="img-responsive" src="/static/index/images/pi5.jpg" alt=""  />
						     <div class="b-wrapper">
									<h2 class="b-animate b-from-left ">
										<span>Photo</span>
										<button>View photo</button>
									</h2>
								</div>

						</a>

		                </div>
					</div>

					<div class="clearfix"> </div>
					</div>
			<!-- Script for gallery Here -->
				<script type="text/javascript" src="/static/index/js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {

						var filterList = {

							init: function () {

								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});

							},

							hoverEffect: function () {

								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
									}
								);

							}

						};

						// Run the show!
						filterList.init();
					});
					</script>
			<!-- Gallery Script Ends -->
			</div>
		</div>
			<!---->
		<div class="container">
			<div class="service" id="services">
				<div class=" service-top">
					<h3 class="ser">Our Services</h3>
					<p class="sed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
					<div class="clearfix"> </div>
				</div>
				<div class=" services-grid">
					<div class="col-md-4 service-grid">
						<a href="single"><img class="img-responsive" src="/static/index/images/s1.png" alt=" "></a>
						<h5>Flat Design</h5>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
					<div class="col-md-4 service-grid">
						<a href="single"><img class="img-responsive" src="/static/index/images/s2.png" alt=" "></a>
						<h5>Great Ideas</h5>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
					<div class="col-md-4 service-grid">
						<a href="single"><img class="img-responsive" src="/static/index/images/s3.png" alt=" "></a>
						<h5>Browser  Compatibility</h5>
						<p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
			<!---->
		<div class="container">
			<div class="meet">
				<div class=" team-top">
					<h3 class="team">Meet the Team</h3>
					<p class="sit">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. </p>
					<div class="clearfix"> </div>
				</div>
				<div class=" team-grid">
					<div class="col-md-4 grid-team">
						<a href="single"><img class="img-responsive" src="/static/index/images/me.png" alt=" "></a>
						<h4>JOHN SMITH</h4>
						<h5>Creative Director</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </p>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="thumblr"> </i></a></li>
								<li><a href="#"><i class="pin"> </i></a></li>

							</ul>
					</div>
					<div class="col-md-4  grid-team">
						<a href="single"><img class="img-responsive" src="/static/index/images/me.png" alt=" "></a>
						<h4>JOHN SMITH</h4>
						<h5>Creative Director</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </p>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="thumblr"> </i></a></li>
								<li><a href="#"><i class="pin"> </i></a></li>

							</ul>
					</div>
					<div class="col-md-4  grid-team">
						<a href="single"><img class="img-responsive" src="/static/index/images/me.png" alt=" "></a>
						<h4>JOHN SMITH</h4>
						<h5>Creative Director</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. </p>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="thumblr"> </i></a></li>
								<li><a href="#"><i class="pin"> </i></a></li>

							</ul>
					</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
			<!---->
			<div class="footer" >
			    <div class="container">
				<div class="footer-top" >
				<div class="col-md-4 twitter">

							<h4>Latest Tweets</h4>
							<div class="twitter-in">
								<p>PSD Template: Flat One Page Website <p>
								<a href="#" >http://bit.ly/1kfcA8M </a>
								<span>27 Oct 2014</span>
							</div>
							<div class="twitter-in">
								<p>PSD Template: Flat One Page Website <p>
								<a href="#" >http://bit.ly/1kfcA8M </a>
								<span>27 Oct 2014</span>
							</div>
						</div>

				    <div class="col-md-4 twitter">

						   <h4>Instagram</h4>
						   <ul class="box-in">
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>

						   </ul>
						</div>

					<div class="col-md-4 twitter">
						<h4>Contact Us</h4>
							<div class="contact">
								<form>
									<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
									<input type="text" class="text" value="Email " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email ';}">
									<textarea cols="10" rows="3" value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
								</form>
								<div class="submit">
									<form>
										<input type="submit" value="SEND">
									</form>
								</div>
									<div class="clearfix"></div>
                            </div>
					</div>

						<div class="clearfix"></div>
						</div>
			<div class="footer-bottom">
				<ul class="social">
					<li><a href="#"><i> </i></a></li>
					<li><a href="#"><i class="facebook"> </i></a></li>
					<li><a href="#"><i class="html"> </i></a></li>
					<li><a href="#"><i class="dot"> </i></a></li>
				</ul>
				<p class="footer-class">Copyright © 2015 MarsPlat Template by  <a href="http://MarsPlat.com/" target="_blank">MarsPlat</a></p>
				<div class="clearfix"></div>
			</div>
		</div>
		 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>
</body>
</html>
