<!--
Author: MarsPlat
Author URL: http://MarsPlat.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
  <head>

  </head>
  <body>

  <!-- 联系人 (非必需)
  联系方式(非必需)
  反馈内容(必需)
  反馈图片(非必需) -->
    <!-- action表示这个表单提交的目标URL，method表示提交的方式比如：post或者get-->
    <form action="/feedback_input/" method="post">
      <p>反馈内容: <input type="text" name="username" placeholder="反馈内容(必填)" /> </p>
      <p>反馈图片: <input type="image" name="username" placeholder="反馈图片(选填)" /> </p>
      <p>联系方式: <input type="text" name="username" placeholder="联系方式(选填)" /> </p>
      <p>联系人姓名: <input type="text" name="username" placeholder="联系人姓名(选填)" /> </p>
      <p><input type="submit" value="submit" /> </p>
    </form>
  </body>
</html>
