
server {

	listen 443;
	server_name marsplat.tk;

	index index.html index.htm index.php;

	ssl on;
    ssl_certificate ssl/ipa.cer;
    ssl_certificate_key ssl/ipa.key;

	
	location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://$tornadoUpStream;
        client_max_body_size    1000m;
    }
}

